.content {
  display: flex;
  flex-direction: row;
}

.HP-container {
  display: flex;
  flex-direction: column-reverse;
}

.multiple-image-item {
  margin: 0.1em;
  max-width: 10%;

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @media (min-width: 600px) {
    max-width: 10%;
  }
  @media (min-width: 1200px) {
    max-width: 10%;
  }
}

.multiple-image-list {
  //margin: 0em 0em 0em 0em;
  display: flex;
  flex-direction: row;
  //justify-content: right;
  //align-items: center;
  //flex-wrap: wrap;
  //gap: 0.3em;
  //max-width: 70%;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  //font-style: italic;
  //margin-left: 2em;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 10;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: medium;
}
