/* .profile-search-form {
  flex-direction: row;
  input {
    flex: 1;
  }
  label {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    font-size: 1px;
  }
} */

.profile-search-form {
  margin: 2rem;
  text-align: center;
}

.profile-card-list {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  flex: 0 0 50%;
  align-items: center;
  flex-wrap: wrap;
  img {
    box-shadow: 10px 10px 5px #8ab4f8;
    -moz-box-shadow: 10px 10px 5px #8ab4f8;
    -webkit-box-shadow: 10px 10px 5px #8ab4f8;
    -khtml-box-shadow: 10px 10px 5px #8ab4f8;
    border: 2px solid #50575e;
    margin: auto;
    display: block;
  }
}
