.profilePic {
  border-radius: 50%;
  border: 2px solid #50575e;
  margin-bottom: 1rem;
}

.profile {
  text-align: center;
}

.profile {
  .multiple-image-item {
    max-width: 25%;
    /*
  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  */
    @media (min-width: 600px) {
      max-width: 30%;
    }
    @media (min-width: 1200px) {
      max-width: 20%;
    }
  }
}

.multiple-image-list {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

button {
  padding: 1rem;
  margin: 1rem;
}
