
  .add-pictures-component{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:left;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.locate-label{
  padding:5px 140px;
}
