*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #50575e;
  font-family: "Quicksand", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../image/Background_world1.JPG");
  // option 3 - large icon
  background-position-x: 11%;
  background-position-y: 6%;
  background-repeat: no-repeat;
  background-size: 34%;

  /*
  margin: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  font-size: calc(10px + 2vmin);
}

.multiple-image-list {
  margin: 0em 0em 1em 12em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
  gap: 0.1em;
  max-width: 70%;
}

.multiple-image-item {
  margin: 0.1em;
  max-width: 10%;

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @media (min-width: 600px) {
    max-width: 10%;
  }
  @media (min-width: 1200px) {
    max-width: 10%;
  }
}

img {
  max-width: 100%;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select,
button,
.btn {
  font: inherit;
  border: 1px solid #dadada;
  line-height: inherit;
  color: inherit;
  padding: 1rem;
  background: transparent;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.btn {
  display: inline-flex;
}

button {
  cursor: pointer;
  font-weight: 900;
  padding: 1.25rem 1.25rem;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #ffffff;
  color: #8ab4f8;
  border: 4px solid #8ab4f8;
  transition: 0.2s ease;
  margin: 0;
}

button:hover {
  border-radius: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0px 240px;
}
